#experiment-list {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 15px;
    margin:4px;
    border: none;
    border-radius: 5px;
    background-color: #eea9a9;
    color: #ffcaca;
    font-size: 16px;
    font-weight: bold;
  }
  
   #experiment-list button {
    padding: 10px;
    border-radius: 5px;
    background-color: #eaeaea;
    color: #333;
    margin:5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  #experiment-list button:hover {
    background-color: #ccc;
  } 